---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }} ({{ page.subtitle }})
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <div style="clear: both;"></div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2 id="news">
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">📰 News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">✍️ Latest Posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Education -->
    <h2 id="education">🎓 Education</h2>
    <div class="education-section">
      <ul>
        <li>2021.09 - 2026.06, Ph.D. student, College of Information Science & Electronic Engineering, Zhejiang University, Hangzhou, China</li>
        <li>2024.09 - 2025.09, Joint training Ph.D. student, Department of Information Engineering, University of Pisa, Pisa, Italy</li>
        <li>2017.09 - 2021.07, Bachelor, College of Information Science & Electronic Engineering, Zhejiang University, Hangzhou, China</li>
      </ul>
    </div>

    <!-- Work Experience -->
    <h2 id="work">🏢 Work Experience</h2>
    <div class="work-section">
      <div class="work-item">
        <h5><strong>Senior Communication Standards Researcher</strong></h5>
        <p><a href="https://www.oppo.com/">OPPO</a>, Shanghai, China<br>
        <em>July 2026 - Present</em>
        </p>
      </div>
    </div>

    <!-- Publications -->
    {% if page.selected_papers %}
      <h2 id="publications">📑 Publications</h2>
      <div class="publications">
        {% bibliography %}
      </div>
    {% endif %}

    <!-- Awards -->
    <h2 id="awards">🏆 Awards</h2>
    <div class="awards-section">
      <ul>
        {% for award in site.data.cv.cv.sections.Awards %}
          <li><strong>{{ award.title }}</strong> ({{ award.date }}), {{ award.awarder }}</li>
        {% endfor %}
      </ul>
    </div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% social_links %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
